html{
    position: relative;
}
html,body{
    width:100%;
    height:100%;
}
.list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
    border-bottom: 1px solid #e6e6e6;
}
.list li img{
    width:30px;
    height: 30px;
    vertical-align: middle;
    margin-right: 20px;
}
main .tip{
    display: none;
    position:absolute;
    left: 0;
    right:0;

    bottom:0;
    margin:auto;
    width:200px;
    height:30px;
    line-height: 30px;
    text-align: center;
    font-weight: bolder;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    border-radius: 5px;
}